{% macro flowSection(body, direction, image, ratio='is-square') %}
<div class="columns pt-5; pb-5" style="min-height: 500px">
  {% if direction == 'right' %}
  <div class="column is-6-tablet">
    <figure class="image {{ratio}}" data-function="addScrollX(-150, 80)">
      <img src="{{image}}" />
    </figure>
  </div>
  {% endif %}
  <div class="column is-6-tablet">
    <div
      class="animateIn {{direction}}-in"
      data-function="addClassOnScroll(50, !{{direction}}-in)"
    >
      {{ body }}
    </div>
  </div>
  {% if direction == 'left' %}
  <div class="column is-6-tablet">
    <figure class="image {{ratio}}" data-function="addScrollX(150, 80)">
      <img src="{{image}}" />
    </figure>
  </div>
  {% endif %}
</div>
{% endmacro %}

<!DOCTYPE html>
<!-- <html class="no-js" lang="en"> -->
<html lang="en" data-theme="dark">
  <head>
    {% include 'headlinks.html' %}
    <title>DYSTLA | dystla.com</title>
    <meta
      name="description"
      content="TODO write the things write the things write the things write the things write the things write the things write the things."
    />
  </head>
  <body class="has-background-grey" style="overflow: hidden;">
    <section class="is-flex is-align-items-center is-flex-direction-column is-justify-content-start" 
             style="height: 100vh;
                   width: 100%;
                   min-height: 400px;
                   max-height: 1000px;">

      <!-- SHADER -->

      <div
        style="
          position: absolute;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      ><div
          style="width: min(48vw, 800px); height: min(36vw, 600px)"
          data-function="addShaderOnScroll(shaders/bowlcomp.glsl, 5)"
        ></div>
      </div>

      <!-- END SHADER -->

      <div style="position: relative; 
                  height: 60%;
                  width: 100%;"
        class="is-flex is-align-items-end is-flex-direction-row is-justify-content-center"
      >
        {% set pageTitle = [("D", "400"), ("Y", "700"), ("S", "1000"), ("T", "1300"), ("L", "1600"), ("A", "1900")] %} 
        {% for item in pageTitle %}
        <div
          data-function="addClassDelay({{ item[1] }}, !invisible)"
          class="animateIn title has-text-white is-flex is-flex-direction-column is-align-items-center is-justify-content-end invisible"
          style="height: 60%; width: 20vw; font-size: 12vw"
        >
          {{ item[0] }}
        </div>
        {% endfor %}
      </div>
      <p class="title is-2  animateIn invisible has-text-white" data-function="addClassDelay(2200, !invisible)">A methodology of philosphical thought</p>
    </section>
    <section class="section mb-0 pb-0">
      </div>      
      {{ flowSection(
      '<p class="has-text-white p-5 custom-big-font">
        Our <span class="has-text-primary">knowledge</span> mirrors a bowl.<br>
        We begin with a clean slate on the rim.
      </p>',
      "left",
      "images/bowledge.png",
      ratio="is-square") }}

      {{ flowSection(
        '<p class="has-text-white p-5 custom-big-font" style="text-align: right;">
          As we grow and learn, we roll down, nearing the <span class="has-text-primary">center</span> where the truth lies.
        </p>',
        "right",
        "images/sidebowl.png",
        ratio="is-5by3") }}
    </section>
    <div class="has-background-primary" style="width:100%;height:120px;background-image: url('images/boundary.svg');background-size: contain; background-repeat: repeat-x;" ></div>
    <section class="section has-background-primary">
      {{ flowSection(
        "<p class='has-text-grey p-5 custom-big-font' style='text-align: left;'>
          Aristotle's logic proposed a methodology of progressing towards the truth by verifying arguments.
        </p>",
        "left",
        "images/aristotle.png",
        ratio="is-square") }}
    </section>
      
    <section class="section has-background-grey" style="position: relative;">
      <div class="has-background-grey" style="width:100%;height:140px;position:absolute;top:-140px;left: 0px;" ></div>
      <div class="is-flex is-justify-content-center is-align-items-center is-flex-direction-column mb-5" style="min-height: 500px;">
        <h2 class="title is-1 has-text-primary" style="text-align: center;">How far are your ideas from the truth!</h2>
        <button class="button is-primary has-text-white is-large m-3" style="width: 250px;" onclick="window.location='/bowl'">TRY THE BOWL</button>
      </div>
    </section>
    {% include 'footer.html' %}
  </body>
</html>
