<footer class="footer has-background-black">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-narrow">
        <figure class="image is-64x64">
          <img src="/images/logo.png" alt="Company Logo" />
        </figure>
      </div>
      <div class="column">
        <p class="has-text-primary">
          <strong class="has-text-white">DYSTLA</strong> - © 2024 All Rights Reserved.
          <br />
          dystla.com
        </p>
      </div>
    </div>
  </div>
</footer>